:root {
  --primary-bg: #e5e5e5;
  --accent-color: #a3c1ef;
  --primary-text-color: #163561;
  --description-color: #153461;
  --text-accent: #fbb400;
  --card-bg-1: #99baed;
  --card-bg: #fafbff;
  --accent-color-text: #ffffff;
  --icon-accent: #008fdd;
  --icon-bg: #e5ecfe;
  --gradient: rgba(82, 150, 255, 0.35);
  --logo-color: #99baed;
  --social-bg: #d3e5ff;
}
body {
  font-family: "Catamaran", sans-serif;
}
.container {
  width: 1920px;
  margin: 0 auto;
  outline: none;
}
/* HEADER */
.header .container {
  display: flex;
  padding-left: 170px;
  padding-right: 213px;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
}
.logo-wrapper {
  position: relative;
  display: flex;
  width: 163px;
  margin-right: 110px;
}
.logo-text {
  position: absolute;
  left: 54px;
  font-weight: 600;
  font-size: 40px;
  margin-top: 59px;
  line-height: 1.34;
  color: var(--accent-color);
}
.logo-group {
  position: relative;
  margin-top: 30px;
}
.nav-list {
  display: flex;
}
.nav-list li:not(:last-child) {
  margin-right: 20px;
}
.nav-list a {
  display: block;
  font-size: 25px;
  line-height: 1.34;
  font-weight: 500;
  padding: 67px 14px 8px;
  color: var(--primary-text-color);
}
.nav-list a:hover,
.nav-list:focus {
  background-color: var(--accent-color);
  color: var(--accent-color-text);
  border-radius: 5px;
  transition: all 0.5s ease-out;
}

.btn-list-item:not(:last-child) {
  margin-right: 72px;
}
.btn-list {
  display: flex;
  border: none;
  padding-top: 46px;
  align-items: center;
  margin-left: auto;
}
.btn-list button {
  border: none;
  cursor: pointer;
}
button {
  background: transparent;
}
.appointment {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--accent-color-text);
  background-color: var(--card-bg-1);
  border-radius: 20px;
  padding: 23px 32px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.appointment:hover,
.appointment:focus {
  box-shadow: 0 10px 50px var(--accent-color);
}
/* hero */
.hero .container {
  padding-top: 161px;
  padding-bottom: 138px;
  padding-left: 188px;
  background-image: url(../images/heroimj.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 100%;
  background-position-y: center;
}
.hero-title {
  font-size: 75px;
  font-weight: 700;
  line-height: 1.336;
  color: var(--primary-text-color);
}
.hero-title span {
  color: var(--text-accent);
}
.hero-text {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-top: 29px;
  margin-bottom: 97px;
  color: var(--description-color);
}
/* history */
.history .container {
  padding-left: 1119px;
  padding-right: 195px;
  padding-top: 288px;
  padding-bottom: 175px;
  background: url(../images/leftimj.png) left top,
    url(../images/rightimg.png) right top, url(../images/historyimj.png);
  background-repeat: no-repeat;
}
.history-title {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.history-title span {
  color: var(--text-accent);
}
.history-list {
  margin-top: 80px;
  margin-bottom: 108px;
}
.history-item {
  width: 526px;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-top: 29px;
  margin-bottom: 97px;
  color: var(--description-color);
}
.history-item:not(:last-child) {
  margin-bottom: 48px;
}
/* services */
.services .container {
  padding: 175px 254px 272px;
  background: url(../images/servleft.png) left bottom,
    url(../images/servright.png) right bottom;
  background-repeat: no-repeat;
}
.services-list {
  display: flex;
}
.services .services-title {
  text-align: center;
  margin-bottom: 90px;
  font-size: 70px;
  color: var(--primary-text-color);
}
.services-title span {
  color: var(--text-accent);
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 103px;
  height: 126px;
  background: var(--icon-bg);
  box-shadow: 0px 1px 0px var(--icon-accent);
  border-radius: 13px;
  margin: 0 auto 59px;
}
.services-item:not(:last-child) {
  margin-right: 45px;
}
.title {
  margin-bottom: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.15;
  color: var(--primary-text-color);
}
.services-item {
  padding: 50px 41px 72px;
  background: var(--card-bg);
  box-shadow: 0px 5px 0px var(--card-bg-1);
  border-radius: 29px;
}
.icon {
  fill: var(--icon-accent);
}
.services-item:hover .icon-container,
.services-item:focus .icon-container {
  background-color: var(--text-accent);
  transition: all 0.5s ease-out;
}
.services-item:hover,
.services-item:focus {
  background: var(--card-bg-1);
  box-shadow: 30px 30px 50px 5px var(--icon-accent);
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.services-item:hover h3,
.services-item:focus h3,
.services-item:hover p,
.services-item:focus p {
  color: var(--accent-color-text);
}
.description {
  text-align: center;
  font-size: 25px;
  line-height: 1.52;
  color: var(--description-color);
  opacity: 0.65;
}
/* GALLERY */
.gallery .container {
  background: url(../images/leftimj.png) left top,
    url(../images/rightimg.png) right top;
  background-repeat: no-repeat;
  padding-left: 270px;
  padding-right: 270px;
}
.gallery-title {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 110px;
}
.gallery-title span {
  color: var(--text-accent);
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 77px;
  margin-right: -38px;
}
.gallery-item {
  margin-right: 37px;
  margin-bottom: 37px;
  position: relative;
  width: calc((100% - 3 * 37px) / 3);
}
.gallery-item:hover,
.gallery-item:focus {
  box-shadow: 0px 1px 12px 31px rgba(19, 148, 216, 0.52);
  -webkit-box-shadow: 0px 1px 12px 31px rgba(19, 148, 216, 0.52);
  -moz-box-shadow: 0px 1px 12px 31px rgba(19, 148, 216, 0.52);
  transition: all 0.5s ease-out;
}
.gallery-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 23px 56px;
}
/* FOOTER */
.footer {
  padding-top: 180px;
  padding-bottom: 145px;
  margin-right: auto;
  margin-left: auto;
  background: url(../images/footer/gallery-left.png) left bottom,
    url(../images/footer/gallery-right.png) right bottom;
  background-repeat: no-repeat;
}
.footer-img {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}
.footer-logo {
  position: relative;
  width: 74px;
  height: 74px;
  margin: 0;
  padding: 0;
  fill: var(--logo-color);
}
.footer-text {
  position: relative;
  bottom: -7px;
  height: 53px;
  width: 91px;
  left: -23px;
  margin-top: 24px;
  fill: var(--logo-color);
}
.footer-description {
  font-weight: 400;
  text-align: center;
  font-size: 25px;
  line-height: 1.52;
  color: var(--description-color);
  opacity: 0.65;
  letter-spacing: 0.03em;
  margin-bottom: 47px;
}
.social-contacts {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.social-contacts::after {
  content: "";
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 1300px;
  border: 1px solid var(--logo-color);
}
.social-list {
  justify-content: center;
  display: flex;
  margin-bottom: 47px;
}
.social-item:not(:last-child) {
  margin-right: 25px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background: var(--social-bg);
}
.social-icon {
  fill: var(--accent-color-text);
}
